# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Visual Studio Code
.vscode/

# Logs
*.log

# SQLite
*.db

# Workspace
workspace/

# Environment variables
.env

# File to keep an important command
terminal.txt

# Test cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# Build metadata
*.egg-info/
